name: Build & Publish

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

env:
  BUILD_TYPE: Release

jobs:
  setup:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      buildnumber: ${{ steps.buildnumber.outputs.build_number }}
    steps:
      - name: Generate build number
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        id: buildnumber
        uses: onyxmueller/build-tag-number@v1
        with:
          token: ${{secrets.github_token}}

  build_windows:
    needs: setup
    runs-on: windows-latest
    steps:
      - name: Prepare env
        shell: bash
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Visual Studio environment
        shell: cmd
        run: |
          :: See https://github.com/microsoft/vswhere/wiki/Find-VC
          for /f "usebackq delims=*" %%i in (`vswhere -latest -property installationPath`) do (
            call "%%i"\Common7\Tools\vsdevcmd.bat -arch=x64 -host_arch=x64
          )

          :: Loop over all environment variables and make them global.
          for /f "delims== tokens=1,2" %%a in ('set') do (
            echo>>"%GITHUB_ENV%" %%a=%%b
          )

      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DGOLM_VERSION="${{ needs.setup.outputs.buildnumber }}" -DGOLM_PACKAGE="golm-build-${{ needs.setup.outputs.buildnumber }}-windows-${{ env.GITHUB_SHA_SHORT }}" ..
          cmake --build . --target go-lang-module --config ${{ env.BUILD_TYPE }} -- /m:16

      - name: Clean build directory
        run: |
          mkdir -p build/output/bin
          cp build/${{env.BUILD_TYPE}}/go-lang-module.dll build/output/bin
          cp build/go-lang-module.pmodule build/output

      - uses: actions/upload-artifact@v3
        with:
          name: golm-build-windows-${{ env.GITHUB_SHA_SHORT }}
          path: build/output/

  build_linux:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Prepare env
        shell: bash
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Install CURL
        run: sudo apt install -y libcurl4-openssl-dev

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DGOLM_VERSION="${{ needs.setup.outputs.buildnumber }}" -DGOLM_PACKAGE="golm-build-${{ needs.setup.outputs.buildnumber }}-linux-${{ env.GITHUB_SHA_SHORT }}" ..
          cmake --build . --target go-lang-module --config ${{ env.BUILD_TYPE }} -- -j16

      - name: Clean build directory
        run: |
          mkdir -p build/output/bin
          mv build/libgo-lang-module.so build/output/bin
          mv build/go-lang-module.pmodule build/output

      - uses: actions/upload-artifact@v3
        with:
          name: golm-build-linux-${{ env.GITHUB_SHA_SHORT }}
          path: build/output/

  publish:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    needs: ["setup", "build_linux", "build_windows"]
    runs-on: ubuntu-latest
    outputs:
      linux_checksum: ${{ steps.linux.outputs.checksum }}
      windows_checksum: ${{ steps.windows.outputs.checksum }}
    steps:
      - name: Prepare env
        shell: bash
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Main build number
        run: echo "BUILD_NUMBER=${{ needs.setup.outputs.buildnumber }}" >> $GITHUB_ENV

      - uses: actions/download-artifact@v3
        with:
          name: golm-build-windows-${{ env.GITHUB_SHA_SHORT }}
          path: build/windows

      - uses: actions/download-artifact@v3
        with:
          name: golm-build-linux-${{ env.GITHUB_SHA_SHORT }}
          path: build/linux

      - name: Zip Builds
        run: |
          (cd build/linux && zip -qq -r ../../golm-build-${{ env.BUILD_NUMBER }}-linux-${{ env.GITHUB_SHA_SHORT }}.zip *)
          (cd build/windows && zip -qq -r ../../golm-build-${{ env.BUILD_NUMBER }}-windows-${{ env.GITHUB_SHA_SHORT }}.zip *)

      - id: linux
        run: echo "checksum=$(sha256sum golm-build-${{ env.BUILD_NUMBER }}-linux-${{ env.GITHUB_SHA_SHORT }}.zip | cut -d' ' -f1)" >> $GITHUB_OUTPUT
      - id: windows
        run: echo "checksum=$(sha256sum golm-build-${{ env.BUILD_NUMBER }}-windows-${{ env.GITHUB_SHA_SHORT }}.zip | cut -d' ' -f1)" >> $GITHUB_OUTPUT

      - name: Release
        id: release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.BUILD_NUMBER }}
          files: |
            golm-build-${{ env.BUILD_NUMBER }}-windows-${{ env.GITHUB_SHA_SHORT }}.zip
            golm-build-${{ env.BUILD_NUMBER }}-linux-${{ env.GITHUB_SHA_SHORT }}.zip

      - name: Send Notification to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@0.3.2
        with:
          args: "A new release of Go Language Module has been tagged (v${{ env.BUILD_NUMBER }}) at ${{ steps.release.outputs.url }}"

  repository:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    needs: ["setup", "publish"]
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Prepare env
        shell: bash
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install packages
        run: |
          python -m pip install requests

      - name: Generate file
        uses: jannekem/run-python-script-action@v1
        with:
          script: |
            import json
            import requests
            import os
            import sys
            
            version_number = ${{ needs.setup.outputs.buildnumber }}
            package_name = 'golm-build-${{ needs.setup.outputs.buildnumber }}-{}-${{ env.GITHUB_SHA_SHORT }}'
            linux_checksum = '${{ needs.publish.outputs.linux_checksum }}'
            windows_checksum = '${{ needs.publish.outputs.windows_checksum }}'
            json_url = 'https://untrustedmodders.github.io/go-lang-module/go-lang-module.json'
            local_json_file_path = '/build/repo/go-lang-module.json'
            
            def load_json_from_url(url):
                try:
                    response = requests.get(url)
                    response.raise_for_status()
                    return response.json()
                except requests.RequestException:
                    return {
                        "content": {
                            "go-lang-module": {
                                "name": "go-lang-module",
                                "type": "golang",
                                "author": "untrustedmodders",
                                "description": "Adds support for Go plugins",
                                "versions": []
                            }
                        }
                    }
            
            def save_json(file_path, data):
                os.makedirs(os.path.dirname(file_path), exist_ok=True)
                with open(file_path, 'w') as file:
                    json.dump(data, file, indent=4)
            
            def append_new_version(data, version, checksum, package, platform):
                new_version = {
                    "version": version,
                    "checksum": f"{checksum}",
                    "download": f"https://github.com/untrustedmodders/go-lang-module/releases/download/v{version}/{package.format(platform)}.zip",
                    "platforms": [f"{platform}"]
                }
            
                versions = data["content"]["go-lang-module"]["versions"]
                versions.append(new_version)
            
                if len(versions) > 10:
                    versions = versions[2:]
            
                return data
            
            data = load_json_from_url(json_url)
            data = append_new_version(data, version_number, windows_checksum, package_name, "windows")
            data = append_new_version(data, version_number, linux_checksum, package_name, "linux")
            save_json(local_json_file_path, data)

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: build/repo

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2